<div class="selectFrame">
  <div class="selectGroup">
    <div class="selectItem selectOption">
      <select class="select" name="" id="selType">
        <option value="0">姓名</option>
        <option value="1">手机</option>
        <option value="2">身份证</option>
      </select>
    </div>

    <div class="selectItem selectInput">
      <input type="text" id="selContent"/>
    </div>

  </div>
  <div class="selectBtn">
    <input type="button" class="btn btn-info" id="selOut" value="查询">
  </div>
</div>