<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>在职证明</title>

</head>
<body>
<div id="head"></div>

<div class="contain">
  <ul class="nav_title">
    <li class="theme-color"><a class="theme-color" href="/index.html">首页</a></li>
    <li>></li>
    <li class="theme-color">详情页</li>
  </ul>
  <div class="common_border">
    <div class="common_header">
      基本信息
    </div>

    <div class="common_body">
      <div class="imgPer">
        <img src="/" id="Img" alt=""/>
      </div>
      <div class="detailPer">
        <div style="font-size: 16px;">
          <span>姓名：</span><span id="name">-</span>
          <span class="fa" id="distinction"></span>
        </div>
        <div class="statusPer">
          <span class="statusBtn">浏览<span id="views">0</span></span>
          <span class="statusBtn" id="staType">-</span>
        </div>
        <div class="infoPost">
          <span>在职岗位：</span><span id="position">-</span>
        </div>
        <div class="infoPost">
          <span>在职时间：</span><span id="join">-</span> - <span id="leave">-</span>
        </div>

        <div>
          <div class="Clickbtn" id="checkBk"><span class="fa fa-shield fa-lg"></span>申请调查</div>
          <div class="Clickbtn" id="report" style="padding: 5px 23px"><span style="margin-right: 10px;" class="fa fa-shield fa-lg"></span>举报</div>
        </div>

        <div style="font-size: 12px;" class="footerGray">
          <span class="fa theme-color fa-check-circle-o fa-lg"></span>
          <span>公司向全社会接收员工不良诚信行为举报</span>
        </div>

      </div>
    </div>
  </div>

  <div class="common_border">
    <div class="common_header">
      工作履历
    </div>

    <div class="common_body" id="common">-
      <!--<div class="list">2017.08.19入职销售经理</div>
      <div class="list">2017.08.19入职销售经理</div>
      <div class="list">2017.08.19入职销售经理</div>-->
    </div>
  </div>

  <div class="common_border">
    <div class="common_header">
      工作成就
    </div>

    <div class="common_body">
      <span class="footerGray" id="workAch">-</span>
    </div>
  </div>

  <div class="common_border">
    <div class="common_header">
      诚信记录
    </div>

    <div class="common_body">
      <span class="footerGray" id="workNote">-</span>
    </div>
  </div>

  <div class="site footerGray">
    <p class="site-left">本网站数据由上海谋乐网络科技有限公司官方提供</p>
    <p class="site-right">@2017  在职查询系统 v1.1</p>
  </div>
</div>
</body>
</html>